<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <a th:href="@{~/}">Etusivu</a> /
        <a th:href="@{~/forum/{id}(id=${viestiketju.alue.alue_id})}" th:text="${viestiketju.alue.nimi}">Alue</a> /
        <span th:text="${viestiketju.otsikko}">Viestiketju</span>
        <ul>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.aikaleima}"></span>
                <span th:text="${viesti.kirjoittaja.nimimerkki}"></span>:
                <span th:text="${viesti.viesti}"></span>
                
            </li>
        </ul>
        <form method="POST" th:action="@{~/topic/{id}/newpost(id=${viestiketju.viestiketju_id})}">
            Nimi:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>

    </body>
</html>
