<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${alue.nimi}">Alue</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <a href="/">Foorumi</a> / <span th:text="${alue.nimi}">Alue</span>
        
        <table>
            <tr>
                <th>Viestiketju</th>
                <th>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="osio: ${osiot}">
                <td><a th:href="@{~/topic/{id}(id=${osio.osio_id})}" th:text="${osio.osio_nimi}">Viestiketju</a></td>
                <td th:text="${osio.osio_viesteja}">n/a</td>
                <td th:text="${osio.osio_viimeisinviesti}">aikaleima</td>
            </tr>
        </table>
        
        <a th:if="${sivu>1}" th:href="@{~/forum/{id}?page={page}(id=${alue.alue_id}, page=${sivu-1})}">edellinen sivu</a>
        <a th:if="${seuraava}" th:href="@{~/forum/{id}?page={page}(id=${alue.alue_id}, page=${sivu+1})}">seuraava sivu</a>
        
        <form method="GET" th:action="@{~/forum/{id}/newtopic(id=${alue.alue_id})}">
            <input type="submit" value="Lisää uusi keskustelu" />
        </form>

    </body>
</html>