<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <a th:href="@{~/}">Foorumi</a> / <span th:text="${alue.nimi}">Alue</span>
        
        <table>
            <tr>
                <th>Viestiketju</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="viesti: ${viestit}">
                <td><a th:href="@{~/topic/{id}(id=${viesti.viestiketju.viestiketju_id})}" th:text="${viesti.viestiketju.otsikko}">Viestiketju</a></td>
                <td th:text="${viesti.aikaleima}">aikaleima</td>
            </tr>
        </table>
        
        <form method="GET" th:action="@{~/forum/{id}/newtopic(id=${alue.alue_id})}">
            <input type="submit" value="Luo uusi" />
        </form>

    </body>
</html>