<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <ul>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.aikaleima}"></span>
                <span th:text="${viesti.kirjoittaja.nimimerkki}"></span>:
                <span th:text="${viesti.viesti}"></span>
                
            </li>
        </ul>
        <form method="POST" th:action="${'/topic/' + viestiketju}">
            Nimi:<br/>
            <input type="text" name="nimi"/><br/>
            viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lähetä viesti"/>
        </form>

    </body>
</html>